<% include cabecera.ejs %>

        <!-- Mashead header-->
        <header class="masthead">
          <div class="container px-5">
              <div class="row gx-5 align-items-center">
                  <div class="col-lg-6">
                      <!-- Mashead text and app badges-->
                      <div class="mb-5 mb-lg-0 text-center text-lg-start">

                        <h1><%= title %></h1>
                        <p><%= __('Welcome to') %> <%= title %></p>

                        <p><%= texto + '!' %></p>

                        <p><%= nombre %></p>

                        <h2><%= __('Condicionales') %></h2>
                        <% if (esPar) { %>
                          <p>El segundo actual es par.</p>
                        <% } else { %>
                          <p>El segundo actual es impar.</p>
                        <% } %>

                        <p>Segundo actual: <%= segundoActual %></p>

                        <h2><%= __('Bucles') %></h2>
                        <% usuarios.forEach(usuario => { %>
                          <p>El anuncio <%= usuario.nombre %>
                             tiene <%= usuario.edad %> años.
                          </p>
                        <% }) %>

                        <h2><%= __('i18n example for plurals') %></h2>
                        <p>Hay 0 <%= __n('Mouse', 0) %></p>
                        <p>Hay 1 <%= __n('Mouse', 1) %></p>
                        <p>Hay 2 <%= __n('Mouse', 2) %></p>
                        <p>Hay 3 <%= __n('Mouse', 3) %></p>

                      </div>
                  </div>
              </div>
          </div>
      </header>

    <h1><%= title %></h1>
    <p>Lista de <%= title %></p>
    <div>
      <% if (anuncios.length === 0) { %>
        <p>No se encontraron anuncios con los filtros seleccionados.</p>
      <% } else { %>
        <ul>
            <% anuncios.forEach(anuncio => { %>
                <li>
                    <h2><%= anuncio.nombre %></h2>
                    <img src="/images/anuncios/<%= anuncio.foto %>" alt="<%= anuncio.nombre %>">
                    <p>Precio: <%= anuncio.precio %></p>
                    <p>Tags: <%= anuncio.tags.join(', ') %></p>
                </li>
            <% }) %>
        </ul>
      <% } %>
    </div>
    <form action="/" method="get">
      <label for="start">Comenzar:</label>
      <input type="number" name="start" id="start" value="<%= req.query.start || '' %>">
      
      <label for="limit">Limite:</label>
      <input type="number" name="limit" id="limit" value="<%= req.query.limit || '' %>">
  
      <label for="sort">Ordenar por:</label>
      <select name="sort" id="sort">
          <option value="name" <%= req.query.sort === 'name' ? 'selected' : '' %>>Nombre</option>
          <option value="price" <%= req.query.sort === 'price' ? 'selected' : '' %>>Precio</option>
      </select>
  
      <label for="tag">Tag:</label>
      <select name="tag" id="tag">
          <option value="lifestyle" <%= req.query.tag === 'lifestyle' ? 'selected' : '' %>>Lifestyle</option>
          <option value="motor" <%= req.query.tag === 'motor' ? 'selected' : '' %>>Motor</option>
          <option value="work" <%= req.query.tag === 'work' ? 'selected' : '' %>>Trabajo</option>
          <option value="mobile" <%= req.query.tag === 'mobile' ? 'selected' : '' %>>Móvil</option>
      </select>
  
      <input type="submit" value="Aplicar Filtros">
  </form>
  


